#shopBox {
  max-width: 400px;
  max-height: 450px;
  overflow: scroll;
  font-family: fantasy;

  /* border: solid 1px black; */
}

.shopApi {
  max-width: 400px;
  max-height: 200px;
  border-bottom: dotted 1px black;
}

.shopTitle {
  text-align: center;
  text-decoration: solid 1px underline black;
  text-underline-offset: 3px;
}
