:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
  background-color: lightsteelblue;
}
.shop-cookie {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
}

@media (max-width: 500px) {
  .shop-cookie {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
    justify-content: center;
  }

  .title {
    font-size: 20px;
  }

  .shopTitle {
    font-size: 22px;
  }

  .shopApi h2 {
    font-size: 15px;
  }

  .shopApi p {
    font-size: 12px;
  }
}
